@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans:wght@300&display=swap');

//FONTS
$font-1: 'Fira Sans', sans-serif;
$font-2: 'Bungee', cursive;


//COLORS
$background: #2C3333;
$background-2: #3B7A78;
$paragraph: #ccd6d7;
$light: #77F7F3;
$title: #E7F6F2;
$others: #f6d256;