.modal {
    background-color: #252323f2;

    .modal-content, .modal-dialog {
        z-index: 10 !important;
        border-radius: 20px;
    }

    .modal-header {
        border-bottom: none;

        .modal-title {
            color: #c6c4c4;
            font-weight: 400;
            font-size: 1.5rem;
        }
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: green;
        }
    }
}