@use './styles/variables' as colors;

.dark-mode {
    background-color: colors.$background !important;
    transition: all linear 0.3s;

    .title,
    h4 {
        color: colors.$title;
    }

    p { color: colors.$paragraph; }

    //navigation bar
    .link {
        color: #f6d256 !important;
    }
    //navigation bar
    .nav-link {
        color: colors.$title;
    }

    // rating card
    .rate-card {
        p, h4 {
            color: black !important;
        }
    }

    // about page
    .main-content {
        background-color: colors.$background-2;

        .social-list {
            a {
                color: colors.$paragraph;
            }
        }

        .logos {
            background-color: colors.$title;
        }
    }
}